COMPOSE_PROJECT_NAME=spark_airflow_aiven_gcp

AIVEN_KAFKA_BOOTSTRAP_SERVERS=kafka-11100011-bibhumlai-421d.c.aivencloud.com:19376
AIVEN_KAFKA_TOPIC=logistics_data_gen
AIVEN_KAFKA_STARTING_OFFSETS=latest
AIVEN_KAFKA_USERNAME=avnadmin
AIVEN_KAFKA_PASSWORD=replace-with-secret

AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=replace-with-secret
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_FERNET_KEY=replace-with-32-byte-base64-key
AIRFLOW_WEBSERVER_SECRET_KEY=replace-with-long-random-string

AIVEN_PG_HOST=pg-3433185e-bibhumlai-421d.i.aivencloud.com
AIVEN_PG_PORT=19363
AIVEN_PG_DATABASE=defaultdb
AIVEN_PG_USER=avnadmin
AIVEN_PG_PASSWORD=replace-with-secret
AIVEN_PG_TABLE=logistics_stream_events
